a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: 000000; text-align: justify}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16pt;
	font-weight: bold;
	color: 000000;
	border-color: #990000 #333333;
	padding: 0px;
	margin: 0px;


}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11pt;
	color: 000000;
	font-weight: bold;
	font-variant: small-caps;
	padding: 0px;
	margin: 0px 0px -10px;

}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; text-align: justify}
li {  font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif}
ul { font-size: 10pt ; font-family: Verdana, Arial, Helvetica, sans-serif}
.center {  text-align: center}
.justify { text-align: justify}
